@import url('https://fonts.googleapis.com/css2?family=Agdasima&display=swap');

*{
    margin: 0;
    padding: 0;
}


.sidebar{
    background-color: rgb(191, 191, 191);
    width: 10vw;
    font-family: 'Agdasima', sans-serif;
    height: 100vh;
    
}
.sidebar nav{
    padding: 25px;
    
}
.sidebar nav li{
    list-style: none;
    font-size: 27px;
    margin-left: 10px;
    margin-right: 10px;
    
    padding: 33px 0;
    
}

.main{
   /* background-color: bisque;*/
    width: 90vw;
    
}

.container{
    display: flex;
}

.infocontainer{
    /*background-color: blue;*/
    height: 55vh;
    width: 80vw;
    margin: 102px auto;
    display: flex;
    justify-content: space-around;

}

.devinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Agdasima', sans-serif;
}

.hello{
    font-size: 55px;
    
}

.name{
    font-size: 42px;
    font-weight: bolder;
    
}

.about{
    font-size: 35px;
    
}

.discription{
    font-size: 28px;
}

.buttons{
    margin-top: 30px;
}

.buttons button{
    padding: 12px;
border-radius: 45px;
background-color: rgb(135, 135, 135);
color: aquamarine;
font-weight: bold;
font-size: 15px;
margin: 0 10px;
cursor: pointer;
transition: color 0.2s;
transition: background-color 0.2s;

}
.buttons button:hover{
    color: rgb(135, 135, 135);
    background-color: aquamarine;
}

.devpic img{
    height: 55vh;
}