.logo{
    width: 3.5%;
    display: inline-flex;
    margin-left: 7%;
    margin-top: 2%;
}


.block {
    font-size: 400%;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 0;
}

.readme{
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    --base-font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    --base-colour: #24292e;
    font-family: inherit;
    --tw-bg-opacity: 1;
    text-align: center;
    font-weight: 800;
    letter-spacing: -.025em;
    font-size: 3.75rem;
    line-height: 1;
    box-sizing: border-box;
    border: 0 solid #e5e5e5;
    --tw-shadow: 0 0 #0000;
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    display: block;
    --tw-text-opacity: 1;
    color: rgba(16,185,129,var(--tw-text-opacity));
    margin-top: 0;
    margin-bottom: 20px;
}

.para  {
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    max-width: 50%;
    margin-left: 20px;
    text-align: center;
    margin: auto;
    color: rgb(118, 118, 118);
}

.get_started{
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    --base-font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    --base-colour: #24292e;
    font-family: inherit;
    box-sizing: border-box;
    border: 0 solid #e5e5e5;
    --tw-shadow: 0 0 #0000;
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    text-decoration: inherit;
    display: inline-flex;
    height: 54px;
    width: 250px;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    border-width: 1px;
    border-color: transparent;
    --tw-bg-opacity: 1;
    background-color: rgba(16,185,129,var(--tw-bg-opacity));
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));

    
    

}

