@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-dark: #5651e5;
  --primary-light: #709dff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 

}
body {
  font-family: "agdasima",sans-serif;
}

ul {
  list-style-type: none;
}

link {
  text-decoration: none;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2rem;
}

.container {
  max-width: 1240px;
  margin: auto;
  padding: 0 1rem;
}

button {
  background-image: linear-gradient(45deg,var(--primary-dark) 0%, var(--primary-light) 100% );
  border: 1px solid var(--primary-dark);
  color: white;
  padding: .7rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  font-family: "agdasima",sans-serif;
}

@media screen and (max-width: 940px) {
  h1{
    font-size: 2.5rem;
  }
  h2{
    font-size: 1.5rem;
  }
}

.fullpage {
  background-color: #709dff;
  width: 100%;
  height: 100%;
}

.heading {
  display: flex;
  justify-content: center;
  font-family: "agdasima",sans-serif;
}

.image {
  display: flex;
  justify-content: center;
  border-radius: 30px;
  width: 100%;
  padding-left: 20% ;
  padding-right: 20% ;
  margin-top: 3%;
}

.paragraph1 {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  font-size: 20px;
  max-width: 50%;
  margin-left: 27%;
}
